[submodule "react-native/chapter-2/react-native/chapter-2/gofinances"]
	path = react-native/chapter-2/react-native/chapter-2/gofinances
	url = D:\\Github\\rocketseat-ignite\\react-native\\chapter-2\\gofinances
